{% extends 'base.html.twig' %}

{% block title %}Hello ShowroomVoitureController!{% endblock %}

{% block content %}

<section>

    <header>

     <div class="container_image_header">
        <img src="uploads/{{voiture.image}}" alt="" width="100%">
     </div>
        
    </header>

</section>

<section class="showroom">
    <div id="container_caracteristique">
        <div id="titre_vehicule" ><h2>{{voiture.marque}} {{voiture.modele}}</h2> </div>
        <div class="voiture_caracteristique">

            <div class="container_title">
                <h3>Caractéristique du véhicule</h3>
            </div>

            <div class="option_card">
                <div class="option">
                    <i class="fa-solid fa-chair"></i>
                    <p class="siege">{{voiture.nombreSiege}} siège</p>
                </div>

                <div class="option">
                    <i class="fa-solid fa-horse"></i>
                    <p class="siege">{{voiture.chevaux}} chevaux</p>
                </div>
                
                <div class="option">
                    <i class="fa-solid fa-gears"></i>
                    <p class="boite_vitesse">{{voiture.boiteVitesse}}</p>
                </div>
                
                <div class="option">
                    <i class="fa-solid fa-gas-pump"></i>
                    <p class="moteur">{{voiture.essence}}</p>
                </div>
            </div>
            
            
       </div>

        <div class="voiture_caracteristique">

            <div class="container_title">
                <h3>Option du véhicule</h3>
            </div>
    
        <div class="option_card">
        {% if voiture.siegeBebe != 0 %}
            <div class="option">
                <i class="fa-solid fa-baby-carriage"></i>
                <p>Siege bébé</p>
             </div>
        {% endif %}
              
        {% if voiture.gps != 0 %}
             <div class="option">
              <i class="fa-solid fa-location-arrow"></i>
              <p>GPS</p>
             </div>
        {% endif %}
             
        {% if voiture.lavageVehicule != 0 %}
             <div class="option">
                <i class="fa-solid fa-hand-sparkles"></i>
              <p>Lavage véhicule</p>
             </div>
             {% endif %}
        
             
        {% if voiture.conducteurAdditionnel != 0 %}
             <div class="option" >
                <i class="fa-solid fa-person"></i>
                <p>Conducteur additionnel</p>
             </div>
             {% endif %}
        
        {% if voiture.Climatisation != 0 %}
             <div class="option">
                <i class="fa-solid fa-snowflake"></i>
                <p>Climatisation</p>
             </div>
        {% endif %}
            
            
       </div>
    </div>
             

       </div>
       
    
    
    </div>

    <div id="container_louer_voiture">
        
           <h4>À partir de {{(voiture.tarif / 100)|number_format(2, ',', '.') }} € / J </h4> 
    
    
    </div>
</section>

  




{% endblock %}
